{% extends 'partials/sandbox-base.html.twig' %}

{% block header %}
    <header class="bn-sandbox-header">
        <div class="navbar">
            <section class="navbar-section">
                <a href="./" class="btn btn-link">< Back</a>
            </section>
            <section class="navbar-center">
                Sandbox/<span class="text-primary">{{ page.header.title }}</span>
            </section>
            <section class="navbar-section">
                <a href="#" class="btn btn-link">Twitter</a>
                <a href="#" class="btn btn-link">GitHub</a>
            </section>
        </div>
    </header>
{% endblock %}

{% block content %}

{% endblock %}